<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>login</title>
</head>
<body>
    <section id="cuerpo">
        
        <form name="forma_prueba" id="forma_prueba" action="/login" method="post">

            <div class="contenedor-campo">
                <label for="correo">Correo:</label>
        <input type="email" name="correo" id="correo" placeholder="Su correo" maxlength="32" tabindex="1" required pattern="[a-z0-9._-]+\@[a-z0-9.-]+\.[a-z]" inputmode="email" autofocus>
            </div>
        
            <div class="contenedor-campo">
                <label for="contra">Contraseña:</label>
        <input type="password" id="contra" name="contra" required pattern="[0-9]{10}" tabindex="2" inputmode="tel" placeholder="N° celular">  
            </div>

        
        
        <button type="submit">Iniciar</button>
        <a href="/registrar">Registrar nuevo usuario</a>

        </form>
    
    </section>
</body>
</html>